<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VietnobleDatabase"
         connectionString="Data Source=(local);Initial Catalog=Vietnoble;User ID=admin;Password=qqq111!!!"
         providerName="System.Data.SqlClient" />
    <add name="PortalModules"
         connectionString="Data Source=(local);Initial Catalog=PortalModule;User ID=admin;Password=qqq111!!!"
         providerName="System.Data.SqlClient" />
    <add name="OracleLocal" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=nptan2005)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));Persist Security Info=True; User Id=admin;Password=Abcd1234;"
         providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="QueueName" value="hello" />
    <add key="QueueHost" value="padserver.npt" />
    <add key="QueueVirtualHost" value="/" />
    <add key="QueuePort" value="5688" />
    <add key="QueueUserName" value="Demo" />
    <add key="QueuePassword" value="qqq111!!!" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>